In [ ]:
#!pip install polaris-ml
#!pip install fets
#!pip install mlflow

In [1]:
# Vamos a comparar dos métodos de correlación para comprobar cuál es más apropiaado para el dataset de mars express
from polaris.learn.analysis import PolarisGraphWorkbench
a = PolarisGraphWorkbench("../../../datasets/preprocess_mars_express/MarsExpressPower/marsexpress_dataset.csv", index_column="ut_ms", method="XGBoosting", dropna=True, route_to_graphs="C:/Users/manni/Desktop/VIU/TFM/repo/Improve-MBSE-ML/src/polaris_workspace/polaris_mod_project/polaris_mars_express_graphs")

2022/03/10 21:21:00 WARNING mlflow.tracking.context.git_context: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

XGBoosting graph generated

In [ ]:
a.visualize_XGBoosting_graph()

![](xgb_graph.png)

In [2]:
a.XGBoosting_graph_to_dataframe()

       source    target     value
0    NPWD2372  NPWD2491  0.212917
1    NPWD2372  NPWD2501  0.105242
2    NPWD2401  NPWD2471  0.207666
3    NPWD2401  NPWD2482  0.454084
4    NPWD2401  NPWD2771  0.108105
..        ...       ...       ...
103       TTT       MMM  0.160330
104       XXX       PSF  0.107308
105       XXX       SXX  0.123962
106       ACF  NPWD2491  0.234469
107       ACF       TMB  0.168817

[108 rows x 3 columns]

In [3]:
a.correlate_GradientBoosting()

GradientBoosting graph generated

In [ ]:
a.visualize_GradientBoosting_graph()

![](gb_graph.png)

In [4]:
a.GradientBoosting_graph_to_dataframe()

       source    target     value
0    NPWD2372  NPWD2491  0.562133
1    NPWD2372  NPWD2742  0.121734
2    NPWD2372  NPWD2791  0.607579
3    NPWD2372       MMM  0.105659
4    NPWD2372       PSF  0.357720
..        ...       ...       ...
129       XXX       SEQ  0.480974
130       XXX       SXX  0.342594
131       ACF       PWF  0.279511
132       ACF       TMB  0.191745
133       ACF       DMC  0.189172

[134 rows x 3 columns]

In [5]:
a.compare_methods()

             Method  Nodes Num  Edges Num  Free Nodes Num  Average Weight
0        XGBoosting         59        108               4        0.239997
1  GradientBoosting         59        134               1        0.294698

In [7]:
# Como podemos ver nos interesa quedarnos con GradientBoosting
# Vamos a estrechar el cerco alrededor del nodo NPWD2372, eliminando todas las aristas que no tengan nada que ver con él.

df = a.df_GradientBoosting

edges_to_remove = [(row["source"], row["target"]) for i, row in df.iterrows() if row["source"] != "NPWD2372" and row["target"] != "NPWD2372"]

a.remove_edges_from_GradientBoosting_graph(edges=edges_to_remove)

a.GradientBoosting_graph_to_dataframe()

     source    target     value
0  NPWD2372  NPWD2491  0.562133
1  NPWD2372  NPWD2742  0.121734
2  NPWD2372  NPWD2791  0.607579
3  NPWD2372       MMM  0.105659
4  NPWD2372       PSF  0.357720
5  NPWD2491  NPWD2372  0.593054
6       PSF  NPWD2372  0.150877

In [ ]:

a.visualize_GradientBoosting_graph()

![](removed_edges_graph.png)